<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.ecoticket" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ecoticket</name>
    <description>
        Plataforma que busca fomentar o desuso de veículos automovéis individuais, e o uso dos transportes publicos e modais ativos.
    </description>
    <author email="breno@gruponh.com.br" href="">
        movii
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <config-file parent="/manifest" platform="android">
        <uses-permission name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    </config-file>
    <platform name="android">
        <preference name="android-minSdkVersion" value="14" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="phonegap-version" value="cli-8.0.0" />
    <engine name="android" spec="^7.1.4" />
    <engine name="browser" spec="^5.0.4" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="~1.0.1" />
    <plugin name="cordova-plugin-geolocation" spec="2.1.0" />
    <plugin name="cordova-plugin-googlemaps" spec="2.4.6">
        <variable name="API_KEY_FOR_ANDROID" value="AIzaSyA3WECrzdOEqFDthJAti_ytD9BnPBIMZXc" />
        <variable name="API_KEY_FOR_IOS" value="AIzaSyA3WECrzdOEqFDthJAti_ytD9BnPBIMZXc" />
    </plugin>
</widget>
